<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


        <link rel="stylesheet" href="{% static 'css/comingsoon.css' %}">        
        <title>Coming Soon | Campus Preneur</title>
    </head>
    <body>
        <header class="header">
            <div class="text-box" >
                <h1 class="heading-primary">
                    <span class="heading-primary-main"></span>
                    <span class="heading-primary-sub">COMING SOON</span>
                </h1>
                <a href="#" class="btn btn-white">Rules</a><br><br>
				<a target="_blank" href="https://www.facebook.com/campuspreneurnitkkr/" class="fa fa-facebook"></a> 
				<a target="_blank" href="https://www.instagram.com/icell.nitkkr/" class="fa fa-instagram"></a>

            </div>
        </header>
        
    </body>
</html>
