<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>Campus Preneur</title>
	<link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'css/aos.css' %}">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
	<div class="container"></div>
	<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script type="text/javascript">
  	for (var i = 1;i <= 10000;i++) {
  		$('.container').append('<div class="box"></div>');
  	}
  </script>
</body>
</html>