@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 1px;
}

section {
    width: 100%;
    height: 100vh;
    background-image: url("campus.jpg");
    background-size: auto;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 340px;
    text-align: center;
}

.login-form {
    position: relative;
    box-sizing: border-box;
    padding: 60px, 30px;
    transition: .5s;
}

.login-form:hover {
    background: rgba(255, 255, 255, .1);
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
}

.login-form h1 {
    margin: 0 0 20px;
    columns: #fff;
    font-size: 30px;
    color: #fff;
}

.login-form input {
    display: block;
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    border-radius: 25px;
    outline: none;
    font-size: 14px;
    letter-spacing: 1px;
    color: #161616;
    border-style: solid;
    background: rgb(31, 142, 59)s;
    font-family: 'Ubuntu', sans-serif;
}

.login-form input::placeholder {
    color: #161616;
}

.login-form input[type="submit"] {
    color: #fff;
    background: #0072ff;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.login-form input[type="submit"]:hover {
    background: #005aca;
}

.login-form a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
