body {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: 100vh;
    overflow: #hidden;

}

.container .box {
    width: 24px;
    height: 24px;

    float: left;
    background: transparent;
    box-sizing: border-box;
    transition: 1s ease-in-out;
}

.container .box:hover {
    background: #000000;
    transition: 0s ease-in-out;
}